%h1= t('.user_list')

%p
  = link_to t('new'), new_admin_user_path, class: 'btn btn-primary'

%table.table
  %tr
    %th= han(User, "email")
    %th= han(User, "role")
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.email
      %td= user.role_text
      %td= link_to t('destroy'), admin_user_path(user), method: :delete, class: 'btn btn-danger btn-mini', data: { confirm: t('.confirm_delete') }
      %td= link_to t('edit'), edit_admin_user_path(user), class: 'btn btn-primary btn-mini'
